.flex {
  display: flex;
  justify-content: space-between;
  color: darkblue;
}

.flex-item {
  display: inline-block;
  font-size: 10px;
}

.title {
  font-size: 30px;
  background-color: white;
}

.relative {
  position: relative;
  top: 300px;
  left: 0px;
}

.blue-box {
  width: 800px;
  height: 150px;
  background-color: blue;
}

.rainbow-box {
  position: absolute;
  top: 0px;
  right: 0px;
}


